sprint 4 ut/API/source code/ods/src/main/resources/wsdl/ODSwebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cathaybk.com.tw/ODSwebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.cathaybk.com.tw/ODSwebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cathaybk.com.tw/ODSwebService/">
      <s:element name="GetODSData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetODSDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetODSDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnlineStartBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnlineStartBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnlineStartBatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnection">
        <s:complexType />
      </s:element>
      <s:element name="GetConnectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckService">
        <s:complexType />
      </s:element>
      <s:element name="CheckServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckServiceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSQLDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeradataMacData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLSTRING" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeradataMacDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeradataMacDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetODSDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetODSData" />
  </wsdl:message>
  <wsdl:message name="GetODSDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetODSDataResponse" />
  </wsdl:message>
  <wsdl:message name="OnlineStartBatchSoapIn">
    <wsdl:part name="parameters" element="tns:OnlineStartBatch" />
  </wsdl:message>
  <wsdl:message name="OnlineStartBatchSoapOut">
    <wsdl:part name="parameters" element="tns:OnlineStartBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnection" />
  </wsdl:message>
  <wsdl:message name="GetConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="CheckServiceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckService" />
  </wsdl:message>
  <wsdl:message name="CheckServiceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetSQLDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSQLData" />
  </wsdl:message>
  <wsdl:message name="GetSQLDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSQLDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeradataMacDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeradataMacData" />
  </wsdl:message>
  <wsdl:message name="GetTeradataMacDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeradataMacDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetODSData">
      <wsdl:input message="tns:GetODSDataSoapIn" />
      <wsdl:output message="tns:GetODSDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OnlineStartBatch">
      <wsdl:input message="tns:OnlineStartBatchSoapIn" />
      <wsdl:output message="tns:OnlineStartBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <wsdl:input message="tns:GetConnectionSoapIn" />
      <wsdl:output message="tns:GetConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckService">
      <wsdl:input message="tns:CheckServiceSoapIn" />
      <wsdl:output message="tns:CheckServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLData">
      <wsdl:input message="tns:GetSQLDataSoapIn" />
      <wsdl:output message="tns:GetSQLDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTeradataMacData">
      <wsdl:input message="tns:GetTeradataMacDataSoapIn" />
      <wsdl:output message="tns:GetTeradataMacDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetODSData">
      <soap:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/GetODSData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnlineStartBatch">
      <soap:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/OnlineStartBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <soap:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/GetConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckService">
      <soap:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/CheckService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLData">
      <soap:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/GetSQLData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeradataMacData">
      <soap:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/GetTeradataMacData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetODSData">
      <soap12:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/GetODSData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnlineStartBatch">
      <soap12:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/OnlineStartBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <soap12:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/GetConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckService">
      <soap12:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/CheckService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLData">
      <soap12:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/GetSQLData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeradataMacData">
      <soap12:operation soapAction="http://www.cathaybk.com.tw/ODSwebService/GetTeradataMacData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://diweb58/MIDNTWEB01/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://diweb58/MIDNTWEB01/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>